@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center">MusicBox te permite llevar un seguimiento detallado de tus albums de música favoritos </h2>

<div class="d-flex">
    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://townsquare.media/site/295/files/2016/02/track1.jpg?w=980&q=75" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Cry Of Love</h5>
            <p class="card-text">Artista: Jimi Hendrix</p>

        </div>
    </div>
    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Charlygarcia_pianobar.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Piano Bar</h5>
            <p class="card-text">Artista: Charly Garcia</p>
      
        </div>
    </div>
    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://i.discogs.com/KzbfeT4egPuIeaGVFMFAO4CBao53o6vu1noxHdxb8CU/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwNjY1/MzQtMTY2MDM4Mjcw/NC0xODc1LnBuZw.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CASIOPEIA</h5>
            <p class="card-text">Artista: CASIOPEIA.</p>
           
        </div>
    </div>
    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0065/3069/5257/products/webMODPP12126724_2000x.jpg?v=1635883060" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Currents</h5>
            <p class="card-text">Artista: Tame Impala</p>
            
        </div>
    </div>
</div>